@font-face {
    font-family: "AdventureSubtitles";
    src: url("./fonts/AdventureSubtitles.ttf") format("truetype");;
}

/* animation for the loading screen */
@keyframes tempShow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    left: 0vw;
  }
  to {
    left: -150vw;
  }
}
@keyframes slideIn {
  from {
    left: -150vw;
  }
  to {
    left: 0vw;
  }
}
@keyframes background {
  0% {
    background-color: black;
  }
  75% {
    background-color: black;
  }
  100% {
    background-color: transparent;
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

body{ 
  margin: 0;
  overflow: hidden; /* hide scrollbars */
}

main {
  width: 100vw;
  height: 100vh;
  color: transparent;
  z-index: 99;
  position: absolute;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  animation-name: background;
  animation-duration: 20s;
}

#loading {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: gray;
  font-family: 'AdventureSubtitles';
  font-size: 15px;
  /* disable user selection of text */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  z-index: 99;
  position: fixed;
  top: 0px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  animation-name: fadeOut;
  animation-fill-mode: forwards;
}

#hello {
  color: gray;
  opacity: 0;
  font-family: 'AdventureSubtitles';
  font-size: 40px;
  /* disable user selection of text */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  position: fixed;
  width: 100vw;
	top: 45vh;
	text-align: center;
	z-index: 100; /* display text above the THREE.js canvas */
	display: block;
  animation-name: tempShow;
  animation-duration: 3s;
}

#arrows {
  color: gray;
  opacity: 0;
  font-family: 'AdventureSubtitles';
  font-size: 25px;
  /* disable user selection of text */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  -webkit-user-drag: none;
  pointer-events: none;
  position: fixed;
  width: 100vw;
  top: 35vh;
  text-align: center;
  z-index: 100; /* display text above the THREE.js canvas */
  display: block;
  animation-name: tempShow;
  animation-duration: 6s;
  animation-delay: 3s;
}

#select {
  color: gray;
  opacity: 0;
  font-family: 'AdventureSubtitles';
  font-size: 25px;
  /* disable user selection of text */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  -webkit-user-drag: none;
  pointer-events: none;
  position: fixed;
  width: 100vw;
  top: 35vh;
  text-align: center;
  z-index: 100; /* display text above the THREE.js canvas */
  display: block;
  animation-name: tempShow;
  animation-duration: 6s;
  animation-delay: 9s;
}

#backButton {
  opacity: 0;
  position: fixed;
  bottom: 20px;
  left: calc(50% - 60px);
  z-index: 101;
  animation: fadeIn;
  animation-duration: 4s;
  animation-delay: 1000000000000s;
  animation-fill-mode: forwards;
}
#backButton button {
  width: 120px;
  background-color: transparent;
  border: none;
  color: #a70c0c;
  font-family: 'AdventureSubtitles';
  font-size: 30px;
  text-shadow: 1px 1px 2px #480505, -1px -1px 2px #480505;
}
#backButton button:hover {
  color: #b36500;
  text-shadow: 1px 1px 2px #4d2b00, -1px -1px 2px #4d2b00;
}
#backButton button:active {
  color: #b39800;
  text-shadow: 1px 1px 2px #665700, -1px -1px 2px #665700;
}

#infoOverlay {
  z-index: 101;
  position: fixed;
  top: 0;
  left: -150vw;
  animation-fill-mode: forwards;
}
#infoOverlay #overlayBackground{
  width: 100vw;
  height: 200vh;
  background-image: linear-gradient(black, maroon, #404040);
  border: solid;
  border-width: 4px;
  border-color: #404040;
  box-shadow: 8px 0px 10px black;
  position: absolute;
  top: -40vh;
  left: calc(-55vw + 100px);
  rotate: 10deg;
}
#infoOverlay button {
  background-color: transparent;
  border: none;
  color: #a70c0c;
  font-family: 'AdventureSubtitles';
  font-size: 30px;
  text-shadow: 1px 1px 2px #480505, -1px -1px 2px #480505;
  position: absolute;
  top: 10px;
  left: 20px;
}
#infoOverlay button:hover {
  color: #b36500;
  text-shadow: 1px 1px 2px #4d2b00, -1px -1px 2px #4d2b00;
}
#infoOverlay button:active {
  color: #b39800;
  text-shadow: 1px 1px 2px #665700, -1px -1px 2px #665700;
}
#infoOverlay #content {
  width: calc(100px + calc(38vw));
  position: absolute;
  top: 60px;
  left: 20px;
  color: gray;
  font-family: 'AdventureSubtitles';
  font-size: 18px;
  text-align: center;
}
#infoOverlay img {
  width: calc(100px + calc(38vw));
  border: solid;
  background: white;
  border-width: 4px;
  border-color: #404040;
  box-shadow: 3px 0px 6px black;
}
a, a:link, a:visited {
  color: #a70c0c;
}
a, a:hover, a:active {
  color: #b36500;
}